body {
	font-family: "Gill Sans Extrabold, sans-serif";
	background: #fff;
}

.header {
  background: #ff0000;
  padding: 20px 50px;
  margin-bottom: 20px;
  color: #fff;
}

label {
  margin-right: 15px;
}

input {
  padding: 9px 5px;
  outline: none;
  border: 1px solid #ccc;
  background: #fff;
}

.block {
  margin: 20px 0px;
  width: 90%;
  position: relative;
  background: #fff;
  min-height: 90px;
  box-shadow: 0px 3px 10px #bbb;
}

.block-header {
	background: #999;
	padding: 16px;
}

.block-header h4 {
	display: inline-block;
	color: #fff;
}

.done .block-header {
  background-color: limegreen;
}

.in-progress .block-header {
  background-color: orange;
}


.count-bar {
	position: absolute;
	right: 10px;
	top: 12px;
	background: #fff;
	text-align: center;
	padding: 9px;
  font-size: 12px;
}

.count-bar.total {
  top: 31px;
}

ul {
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
}

li {
	padding: 15px 9px;
	border-bottom: 1px solid #d0d0d0;
	cursor: move;
  word-wrap: break-word;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 0px 4px #d0d0d0;
  border-left: 5px solid #999;
}

.done li:before {
   content:  "\2713 ";
  padding: 0px 5px;
}

.in-progress li {
border-left: 5px solid orange;

}

.done li {
border-left: 5px solid limegreen;
}

.light {
  color: #999;
  line-height: 2.2;
  padding-bottom: 10px;
}
